<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('./partials/head') %>
        <title>Blog page</title>
</head>

<body>

    <%- include('./partials/navbar') %>
        <div class="container">
            <h1>
                <%= blog.title %>
            </h1>
            <img src="<%= blog.coverImageURL %>" alt="" />
            <p class="mt-5">
                <%= blog.body %>
            </p>
        </div>

        <!-- user profile section -->
        <div class="container mt-4">
            <img src="<%= blog.createdBy.profileImageURL %>" width="50px">
            <%= blog.createdBy.username %>
        </div>

        <!-- comment section -->

        <div class="container mt-4">
            <h1>Comment: (<%= comments.length %>)</h1>
            <% if (locals.user) { %>
                <form action="/blog/comment/<%= blog._id %>" method="POST">
                    <div class="mb-3">
                        <input type="text" name="content" class="form-control" placeholder="Enter your comment" />
                        <button class=" mt-4 btn btn-primary" type="submit">Add Comment</button>
                    </div>
                </form>
            <% } %>
        </div>

        <!-- show comments -->
        <div class="mt-4 container">
            <% comments.forEach(comment=> { %>
                <div>
                    <img src="<%= comment.createdBy.profileImageURL %>" width="80px">
                    <%= comment.createdBy.username %>
                        <pre><%= comment.content %></pre>
                </div>
                <% }) %>
        </div>



        <%- include('./partials/scripts') %>
</body>

</html>